.App {
  text-align: center;
}

.movie-block{
  padding:0;
  margin:0;
}
.star{
  cursor: pointer;
  transition: color 200ms;
}

#movieOutput{
  display:inline;
  text-align: center;
  max-width: 600px;
}

input[type='radio']{
  display:none;
}

